*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 1.3125;
  font-family: system-ui;
  background-color: #05172d;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.section-title {
  /* border: 2px solid palevioletred; */
  margin: 0;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

section {
  padding: 2em 0;
}

svg {
  width: 100px;
  height: 100px;
}

/* * HERO SECTION */

.hero {
  /* border: 2px solid yellow; */
  padding: 3em 0 6em;
  height: 100svh;
}

.hero__title {
  margin: 0;
  font-size: 3rem;
  color: #fff;
  line-height: 1.2;
}

.hero__subtitle {
  font-size: 1.4rem;
  opacity: 0.9;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.hero__headline {
  margin-bottom: 5.5rem;
}

.socials__list {
  display: flex;
  gap: 1rem;
}

/* * SECTION ONE - ABOUT */

.section-one--btn {
  margin-top: 1.5rem;
}

/* * SECTION TWO - SKILLS */

.section-two__cards {
  /* border: 2px solid pink; */
  font-size: 1.3rem;
  font-weight: 700;
}

.card {
  border: 2px solid white;
  padding: 2em 0;
  text-align: center;
}

.card + .card {
  margin-top: 2rem;
}

/* * SECTION THREE - Portfolio */

.projects {
  /* padding: 1em 0; */
}

.project + .project {
  margin-top: 4rem;
}

.project__img {
  border: 5px solid white;
  padding: 1rem;
}

.project__title {
  font-size: 1.2rem;
}

.project__year {
  background-color: #fff;
  color: #05172d;
  padding: 0.25em 0.5em;
  border-radius: 100px;
  font-weight: 900;
  margin-right: 1rem;
}

.project__info {
  margin: 1.5rem 0;
}

/* * SECTION FOUR - Contact */

.section-four {
  margin-top: -1.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.5em 1em;
  background-color: transparent;
  border: 0;
  outline: 2px solid white;
  font-size: 1.2rem;
  color: #fff;
}

input {
  height: 3rem;
}

textarea {
  resize: vertical;
  overflow: auto;
}

input:nth-of-type(1),
input:nth-of-type(2) {
  margin-bottom: 2rem;
}

label {
  display: block;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.contact__btn.contact__btn {
  margin: 3rem 0 1.5rem;
  width: 100%;
}

.to-top-arrow {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -1rem;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  transition: opacity 150ms linear;
}

.to-top-arrow:hover {
  opacity: 1;
}

.to-top-arrow[scrolling] {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  animation: fade-out 1100ms forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

/* * UTLITY CLASSES */

.dim-text {
  opacity: 0.5;
}

.s-box {
  width: 30px;
  height: 30px;
}

.row {
  display: flex;
}

.cta {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 100px;
  background: transparent;
  padding: 0.75em 2em;
  font-size: 1rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-weight: 800;
}

.cta:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #020c19;
  opacity: 1;
  box-shadow: 20px 20px 20px rgba(255, 255, 255, 0.3);
  scale: 1.05;
}
